[Service]
ExecStartPre=/bin/hciconfig hci0 piscan
ExecStart=node main.js usb
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=waterrower
WorkingDirectory=/opt/waterrower-ble

[Install]
WantedBy=multi-user.target