{% import "_macros.njk" as macros %}
<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>{% block title %}Home Rower Game{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/animate.css/animate.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/darkmode.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/jquery/jquery.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body class="h-100 {%block bodyClasses %}{% endblock %}">
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <div id="modal-1" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/avatar/avataaars.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
