<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Water Rower Metric Measurements</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/darkmode.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/chart/Chart.bundle.min.js"></script>
  </head>
  <body>
    <div id="toggles"></div>
    <div id="graphs"></div>
    <a id="reset" href="/reset">Reset</a>
    <script src="main.js"></script>
  </body>
</html>