{% extends "_template.njk" %}
{% block content %}
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col p-0 m-0">
        <div id="water" class="position-absolute" style="border:1px solid black;top:0;bottom:0;left:0;right:50%">
          <div id="starting-line"></div>
          <div id="rower">
            <div class="avatar" data-details="{{ rower.avatar | dump }}"></div>
            <div class="stats"></div>
          </div>
          {% if competitor %}
            <div id="competitor">
              <div class="avatar {% if rower.name == competitor.name %}ghost{% endif %}" data-details="{{ competitor.avatar | dump }}"></div>
              <div class="stats"></div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col position-relative h-100 p-0 m-0">
        <div class="border-bottom bg-light bg-gradient p-3 mb-3">
          <div class="position-absolute top-0 end-0 m-3 fs-5 font-monospace current-time"></div>
          {% if competitor %}
            <h1>{{ rower.name }} vs {{ competitor.name }}</h1>
          {% else %}
            <h1>Solo Mode</h1>
          {% endif %}

          {% if mode === 'marathon' %}
            <h2 id="mode" data-type="marathon">Marathon - <small>Set a new record for farthest in least time</small></h2>
          {% elseif mode.slice(0, 4) === 'time' %}
            <h2 id="mode" data-type="time" data-value="{{ mode.slice(4) }}">Time - <small>Farthest you can go in {{ mode.slice(4) }} minutes</small></h2>
          {% else %}
            <h2 id="mode" data-type="length" data-value="{{ mode.slice(6) }}">Distance - <small>How long to go {{ mode.slice(6) }} meters</small></h2>
          {% endif %}
        </div>

        <div class="p-3">
          {% if competitor %}
            <blockquote id="record"><h4>
              <div class="text-decoration-underline">Competing against previous record of {{ competitor.name }}:</div>
              <strong>Set On</strong>: <span id="recordDate" data-value="{{ competitor.record.createdAt }}"></span><br>
              <strong>Duration</strong> <span id="recordDuration" data-value="{{ competitor.record.duration }}"></span><br>
              <strong>Distance</strong> <span id="recordDistance" data-value="{{ competitor.record.distance }}"></span><br>
              <strong>Max Speed</strong> {{ competitor.record.maxSpeed }} knots
            </h4></blockquote>
          {% endif %}
          <div id="messages" class="fs-3"></div>
          <div id="graphs"></div>
        </div>
        <button class="btn btn-lg btn-primary start-0 bottom-0 ms-3 mb-3 position-absolute" id="startRace">START</button>
        <a href="/" class="btn btn-lg btn-secondary end-0 bottom-0 me-3 mb-3 position-absolute" id="cancelRace">CANCEL</a>
        <div class="d-none toggles end-0 bottom-0 me-3 mb-3 position-absolute">
          <button class="btn btn-lg btn-secondary" id="endRace">END RACE</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <script src="/chart/chart.js"></script>
  <script src="/nosleep.js/NoSleep.js"></script>
  <script src="/charts.js"></script>
  <script src="/compete.js"></script>
{% endblock %}
