{% extends "template.njk" %}
{% block content %}
  <div class="container">
    <h1>Register your rower.</h1>
    <form id="form" class="col s12" method="post">
      <div class="row" style="position:relative">
        <input name="id" type="hidden" value="{{rower.id}}">
        <div id="avatar" class="col s3" data-details="{{ rower.avatar | dump }}"></div>
        <div class="input-field col s6" style="position:absolute;bottom:0;right:0">
          <input placeholder="Hank" name="name" id="name" type="text" class="validate" required="required" value="{{rower.name}}">
          <label for="name">Your Name</label>
        </div>
      </div>
      <div class="row" id="formInputs"></div>
      <div class="row">
        <div class="col s6">
          <button type="submit" id="generate" class="btn">Save</button>
        </div>
        <div class="col s6 right-align">
          <button type="button" id="generate" class="btn grey" onclick="window.location='/'">Cancel</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block footer %}
<script src="/register.js"></script>
{% endblock %}