{% extends "template.njk" %}

{% block content %}
  <div class="no-container">
    <h1>Choose your rower.</h1>
    <div class="row">
      {% for rower in rowers %}
        <div class="left player-cards">
          <form method="post" action="/login">
            <input type="hidden" name="name" value="{{ rower._id }}">
            <div class="card-panel teal center-align hoverable" style="cursor:pointer" onclick="$(this).closest('form').submit()">
              <div class="avatar" data-details="{{ rower.avatar | dump }}"></div>
              <div class="section">
                <button type="submit" class="white-text btn-large" style="font-size:150%">{{ rower.name }}</button>
              </div>
              <a href="/rower/{{rower._id}}" class="white-text teal lighten-2 btn-small edit-rower"><i class="material-icons">edit</i></a>&nbsp;&nbsp;
              <a href="#" data-rower="{{rower._id}}" class="white-text grey darken-2 btn-small delete-rower"><i class="material-icons">delete</i></a>
            </div>
          </form>
        </div>
      {% endfor %}
      <div class="player-cards left">
        <a href="/register" class="white-text">
          <div class="card-panel teal center-align hoverable">
            <h3><i class="large material-icons">add_circle</i><br>Add New Rower</h3>
          </div>
        </a>
      </div>
      <div class="player-cards left">
        <a href="/realtime" class="white-text">
          <div class="card-panel teal center-align hoverable">
            <h3><i class="large material-icons">show_chart</i><br>Just The Charts</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
