{% extends "template.njk" %}

{% block content %}
    <h1>Choose your rower.</h1>
    <div class="container">
      <div class="row">
        {% for rower in rowers %}
          <div class="col s12 m5">
            <form method="post" action="/login">
                <input type="hidden" name="name" value="{{ rower.name }}">
                <div class="card-panel teal">
                  <div class="avatar" data-details="{{ rower.avatar | dump }}"></div>
                  <button type="submit" class="btn white-text">{{ rower.name }}</button>
                </div>
            </form>
          </div>
        {% endfor %}
        <div class="col s12 m5">
          <div class="card-panel teal">
            <span class="white-text"><a href="/register">Register New Rower</a></span>
          </div>
        </div>
      </div>
    </div>
    <!--
    <span class="material-icons">face</span>
    <button id="login" type="button" title="Simulate login">
      Simulate login
    </button>
    <button id="logout" type="button" title="Simulate logout">
      Simulate logout
    </button>
    <button id="wsButton" type="button" title="Open WebSocket connection">
      Open WebSocket connection
    </button>
    <button id="wsSendButton" type="button" title="Send WebSocket message">
      Send WebSocket message
    </button>
    <pre id="messages" style="height: 400px; overflow: scroll"></pre>
    -->
{% endblock %}
