{% extends "_template.njk" %}
{% block title %}Real-time Stats{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-10" id="toggles"></div>
      <div class="col-2 text-end">
        <a href="/">Exit</a>
      </div>
    </div>
    <div id="graphs"></div>
  </div>
{% endblock %}

{% block footer %}
  <script src="/chart/chart.js"></script>
  <script src="/nosleep.js/NoSleep.js"></script>
  <script src="/main.js"></script>
  <script src="/realtime.js"></script>
{% endblock %}
