{% extends "template.njk" %}
{% block content %}
  <div class="container">
    <h1>Register your rower.</h1>
    <form id="form" class="col s12" method="post">
      <div class="row" style="position:relative">
        <div id="avatar" class="col s3"></div>
        <div class="input-field col s6" style="position:absolute;bottom:0;right:0">
          <input placeholder="Hank" name="name" id="name" type="text" class="validate" required="required">
          <label for="name">Your Name</label>
        </div>
        <div class="col s3"></div>
      </div>
      <div class="row" id="formInputs"></div>
      <button id="generate" class="btn">Save</button>
      <button id="generate" class="btn" onclick="window.location='/'">Cancel</button>
    </form>
  </div>
{% endblock %}
{% block footer %}
<script src="/register.js"></script>
{% endblock %}