{% extends "template.njk" %}
{% block title %}Rower Not Connected{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Water Rower not connected.</h1>
        <h2><a href=".">Retry?</a></h2>
      </div>
    </div>
  </div>
{% endblock %}
