{% extends "_template.njk" %}
{% block title %}Rower Not Connected{% endblock %}
{% block content %}
  <div class="container">
    <div class="row p-5">
      <div class="col">
        <h1>Rower is not connected.</h1>
        <h2><a href=".">Retry?</a></h2>
      </div>
    </div>
  </div>
{% endblock %}
