<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}WaterRower Game{% endblock %}</title>
    <link href="fonts/fonts.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </body>
</html>
      