<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Home Rower Game{% endblock %}</title>
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/darkmode.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/jquery/jquery.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <div id="modal-1" class="modal">
      <div class="modal-content"></div>
      <div class="modal-footer"><a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a></div>
    </div>

    <script src="/avatar/avataaars.js"></script>
    <script src="/materialize/js/materialize.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
