.counter {
  transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition:opacity .5s ease-in-out;
}
#water {
  overflow:hidden;
}
#water #starting-line {
  position: absolute;
  bottom: 50px;
  height: 10px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}
#water .dropoff {
  animation: dropoff 2.0s forwards;
}
@keyframes dropoff {
  to {
    bottom: -100px;
  }
}